@import "/src/scss/variables";
@import "/src/scss/mixins";


.button {
  @include flex-center-center;
  @include transition;
  cursor: pointer;
  position: relative;
  border-radius: 8px;
  padding: 8px 30px;
  border: solid 2px $white;

  .button__text {
    white-space: nowrap;
  }

  &:hover {
    opacity: 0.8;
  }

  /* Button types */
  &--primary {
    background-color: $white;
    color: $primary-blue;
  }

  &--secondary {
    background-color: transparent;
    color: $white;
  }


}